[submodule "src/utils/moveit_calibration"]
	path = src/utils/moveit_calibration
	url = https://github.com/moveit/moveit_calibration.git
	branch = master
[submodule "src/utils/franka_ros"]
	path = src/utils/franka_ros
	url = https://github.com/frankaemika/franka_ros.git
	branch = noetic-devel
